<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- ... описание других секций ... -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TargetDirectories" value="c:\temp;d:\temp"/>
    <add key="OutputDirectory" value="d:\output"/>
    <add key="TrashDirectory" value="d:\output\trash"/>
    <add key="ProcessedDirectory" value="d:\output\processed"/>
    <add key="SequanceTime" value="10000"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Error">
    <targets>
      <target name="file" xsi:type="File" fileName="log.log"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
</configuration>